:root {
    --bg: #282a36;
    --fg: #f8f8f2;
    --hl: #282a36;
    --link: #8be9fd;
    --table_head: #222222;
    --table_entry: #444444;
    --blockquote_bg: #444444;
    --blockquote_line: #888888;
    --card_margin_h: 1.5em;
    --card_margin_v: 0.3em;
    --nav_margin_t: 0.7em;
    --nav_margin_b: 0.8em;
    --nav_margin_h: 0.5em;
    --section_margin: 0.5em;
    --nav_item_margin: 0.3em;
    --content_max_width: 50em;
    --border_style: 0.1em solid;
    --border_radius: 0em;
    --image_max_size: 35em;
    --box_shadow: rgba(0, 0, 0, 0.12) 0em 0.1em 0.3em, rgba(0, 0, 0, 0.24) 0em 0.1em 0.2em;
}
