body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body center, max width, fonts */
body { 
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

code {
    font-family: Consolas, monospace;
    font-size: 95%;
} /* code font */

pre {
    padding: var(--card_margin_v) var(--card_margin_h) var(--card_margin_v) var(--card_margin_h); 
} /* code block container */

/* .chroma {
    background-color: var(--hl2);
    border: var(--border_style);
    border-color: var(--fg)
} */ /* code colors */

.content {
    max-width: var(--content_max_width);
    text-align: left;
    margin: 0px auto;
}

.inset {
    padding: var(--card_margin_v) var(--card_margin_h) var(--card_margin_v) var(--card_margin_h) 
}

.card {
    background-color: var(--hl);
    border-radius: 0.5em;
}

/* background and text color */
body {
    background-color: var(--bg);
    color: var(--fg); /* Apply global text color */
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--link);
}

header {
    margin-bottom: var(--section_margin);
}

/* navbar */
nav {
    display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  font-size: 100%;
  margin-right: var(--nav_item_margin); /* entry separation */
}

.post-list {
    list-style-type: none;
}

footer {
    margin-top: var(--section_margin);
    margin-bottom: var(--section_margin);
}

.margin-top {
    margin-top: var(--section_margin);
}

table, th, td {
  border: var(--border_style);
  border-color: var(--fg)
}

th, td {
    padding: 0.4em;
}

table {
    border-collapse: collapse;
}

blockquote {
  background: var(--hl);
  border-left: .3em solid var(--hl2);
  padding: 0.1em 1em 0.1em; /* top left bottom */
}

