body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body center, max width, fonts */
body { 
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

code {
    font-family: Consolas, monospace;
    font-size: 95%;
} /* code font */

pre {
    padding: var(--card_margin_v) var(--card_margin_h) var(--card_margin_v) var(--card_margin_h); 
} /* code block container */

.content {
    max-width: var(--content_max_width);
    text-align: left;
    margin: 0px auto;
}

.nav-center {
    max-width: 52em;
    text-align: left;
    margin: 0px auto;
}

.card {
    background-color: var(--hl);
    shadow-color: hsl(220deg 60% 50%);
}

@media screen and (min-width: 52em) {
  .card {
    border-radius: var(--border_radius);
  }
}

.inset {
    padding: var(--card_margin_v) var(--card_margin_h) var(--card_margin_v) var(--card_margin_h);
}

.inset-nav{
    padding: var(--nav_margin_t) 0 var(--nav_margin_b) 0
}

/* background and text color */
body {
    background-color: var(--bg);
    color: var(--fg); /* Apply global text color */
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--link);
}

nav a {
  padding: var(--nav_margin_t) var(--card_margin_v) var(--nav_margin_b) var(--card_margin_v);
} /* top right bottom left*/

.post-list {
    list-style-type: none;
}

footer {
    margin-top: var(--section_margin);
    margin-bottom: var(--section_margin);
}

.margin-top {
    margin-top: var(--section_margin);
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
  border: var(--border_style);
  border-color: var(--table_head);
}

th, td {
    padding: 0.4em;
}

th {
    background-color: var(--table_head);
}

td {
    background-color: var(--table_entry);
}

table {
    border-collapse: collapse;
}

blockquote {
  background: var(--blockquote_bg);
  border-left: .3em solid var(--blockquote_line);
  padding: 0.1em 1em 0.1em; /* top left bottom */
}

.img_contain {
    max-width: var(--image_max_size);
    border: 1px solid #444444;
    margin: 0 auto;
}

img {
    max-width: 100%; /* Ensure the image doesn't exceed its parent container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent extra space below the image */
}

