:root {
    --bg: #282a36;
    --fg: #f8f8f2;
    --hl: #44475a;
    --hl2: #6272a4;
    --green: #50fa7b;
    --card_margin_h: 1em;
    --card_margin_v: 0.5em;
    --section_margin: 0.5em;
    --nav_item_margin: 0.7em;
    --content_max_width: 50em;
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body center, max width, fonts */
body { 
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

code {
    font-family: Consolas, monospace;
}

.content {
    max-width: var(--content_max_width);
    text-align: left;
    margin: 0px auto;
}

.card {
    background-color: var(--hl);
    padding: var(--card_margin_v) var(--card_margin_h) var(--card_margin_v) var(--card_margin_h) 
}

/* background and text color */
body {
    background-color: var(--bg);
    color: var(--fg); /* Apply global text color */
}

/* link */
a {
    color: var(--green); /* Apply global link color */
    text-decoration: none; /* Remove underline from links */
}

/* hover link */
a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: var(--section_margin);
}

/* navbar */
nav {
    display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  font-size: 100%;
  margin-right: var(--nav_item_margin); /* entry separation */
}

.post-list {
    list-style-type: none;
}

footer {
    margin-top: var(--section_margin);
}

