:root {
    --bg: #FFFFFF;
    --fg: #000000;
    --hl: #E1E5F2;
    --hl2: #4C5C68;
    --link: #004E98;
    --card_margin_h: 1em;
    --card_margin_v: 0.5em;
    --section_margin: 0.5em;
    --nav_item_margin: 0.7em;
    --content_max_width: 50em;
    --border_style: 0.1em solid;
}
