:root {
    --bg: #252422;
    --fg: #F8F8F2;
    --hl: #323232;
    --hl2: #adb5bd;
    --link: #8be9fd;
    --card_margin_h: 1em;
    --card_margin_v: 0.5em;
    --section_margin: 0.5em;
    --nav_item_margin: 0.7em;
    --content_max_width: 50em;
    --border_style: 0.1em solid;
    --border_radius: 0.5em;
}
