{{ partial "header.html" . }}

{{if not .IsHome }}
<div class="content card">
<h1>{{ .Title | markdownify }}</h1>
</div>
{{ end }}

<main>

{{ with .Content }}
<div class="content card">
{{ . }}
</div>
{{ end }}

<div class="content card margin-top">
<h2>Posts:</h2>
<ul class="post-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
</div>

</main>

{{ partial "footer.html" . }}
